<div id="map">
    <div class="routes">
        <div class="route1" ng-click="goToRoute(1)"></div>
        <div class="route2" ng-click="goToRoute(2)"></div>
        <div class="route3" ng-click="goToRoute(3)"></div>
        <div class="route4" ng-click="goToRoute(4)"></div>
        <div class="route5" ng-click="goToRoute(5)"></div>
        <div class="route6" ng-click="goToRoute(6)"></div>
        <div class="route7" ng-click="goToRoute(7)"></div>
        <div class="route8" ng-click="goToRoute(8)"></div>
        <div class="route9" ng-click="goToRoute(9)"></div>
        <div class="route10" ng-click="goToRoute(10)"></div>
    </div>
    <img src="img/Map.jpg" alt="Unova Map"/>
</div>
